body {
  padding: 50px;
}
h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 25px 0 15px;
}

label, input, h1 { 
  display: block; 
}

input {
  margin-top: 5px;
}

button {
  margin-top: 10px;
}


.response {
  display: block;
  padding: 30px;
  margin-top: 15px;
  background-color: lightgray;
  border: 1px solid gray;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    word-wrap: break-word;
}
